.c-button{
  &__auto{
    border: 1px solid $color-border;
    background: $color-white;
    font-size: $font-size_default;
    border-radius: $space_m;
    margin: $space_s 0;
    width: 125px;
  }
  &__switch{
    border: 1px solid $color-border;
    background: $color-white;
    font-size: $font-size_default;
    border-radius: $space_m;
    margin: $space_s;
    width: 42px;
  }
  &__addAccount{

    height: 100%;
    color: #fff;
    font-size: 14px;
    display: block;
    border: 1px solid #dbdbdb;
    margin: 5px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 602px;
    background: orange;
    margin-bottom: 50px;

  }
  &__add{
      border: none;
      background: $color-theme;
      color: $color-white;
      border-radius: $space_s;
  }
  &__delete{
      border: none;
      background: $color-delete;
      color: $color-white;
      border-radius: $space_s;
  }
  &__remove{
      border: none;
      background: $color-danger;
      color: $color-white;
      border-radius: $space_s;
  }
  &__menu{
    background-color: $color-theme;
    color: white;
    border-radius: $space_xxl;
    font-size: $font-size_l;
    border: none;
    padding: $space_l $space_xl;
    box-shadow:rgba(0, 0, 0, 0.6) 0px 4px 10px -5px;
  }
  &__top{
    background-color: $color-theme;
    color: white;
    border-radius: $space_xxl;
    font-size: $font-size_l;
    border: none;
    padding: $space_l $space_xxl;
    box-shadow:rgba(0, 0, 0, 0.6) 0px 4px 10px -5px;
    @include mqmd(){
      font-size: $font-size_xxl;
      padding: $space_xl $space_3l;
      border-radius: $space_3l;
    }
  }
  &__return{
    border: none;
    background: $color-delete;
    color: $color-white;
    border-radius: $space_m;
    width: 70px;
    height: 40px;
    margin: 5px;
  }
  &__submit{
    border: none;
    background: $color-theme;
    color: $color-white;
    border-radius: $space_m;
  }
  &__run {
    //マイページのON/OFFボタン
    line-height    : 23px;                /* 1行の高さ          */
    letter-spacing : 0;                   /* 文字間             */
    text-align     : center;              /* 文字位置は中央     */
    font-size      : 13px;                /* 文字サイズ         */

    position       : relative;            /* 親要素が基点       */
    margin         : 3px;                /* 中央寄せ           */
    width          : 54px;               /* ボタンの横幅       */
    background     : #fff;                /* デフォルト背景色   */
    input[type="checkbox"]{
      display        : none;            /* チェックボックス非表示 */
    }
    label{
      display        : block;               /* ボックス要素に変更 */
      box-sizing     : border-box;          /* 枠線を含んだサイズ */
      height         : 26px;                /* ボタンの高さ       */
      border         : 2px solid #dbdbdb;   /* 未選択タブのの枠線 */
      border-radius  : 13px;                /* 角丸               */
    }
    input[type="checkbox"]:checked +label{
      border-color   : $color-theme;             /* 選択タブの枠線     */
    }
    label span:after{
      content        : "OFF";               /* 表示する文字       */
      padding        : 0 0 0 18px;          /* 表示する位置       */
      color          : #dbdbdb;             /* 文字色             */
    }
    input[type="checkbox"]:checked + label span:after{
      content        : "ON";                /* 表示する文字       */
      padding        : 0 20px 0 0;          /* 表示する位置       */
      color          : $color-theme;             /* 文字色             */
    }
    #swImg{
      position       : absolute;            /* 親要素からの相対位置*/
      width          : 18px;                /* 丸の横幅           */
      height         : 18px;                /* 丸の高さ           */
      background     : #dbdbdb;             /* カーソルタブの背景 */
      top            : 4px;                 /* 親要素からの位置   */
      left           : 4px;                 /* 親要素からの位置   */
      border-radius  : 9px;                /* 角丸               */
      transition     : .2s;                 /* 滑らか変化         */
    }
    input[type="checkbox"]:checked ~ #swImg{
      transform      : translateX(25px);    /* 丸も右へ移動       */
      background     : $color-theme;             /* カーソルタブの背景 */
    }
  }
}
