.c-button{
  &__auto{
    border: 1px solid $color-border;
    background: $color-white;
    font-size: $font-size_default;
    border-radius: $space_m;
    margin: $space_s 0;
    width: 125px;
  }
  &__switch{
    border: 1px solid $color-border;
    background: $color-white;
    font-size: $font-size_default;
    border-radius: $space_m;
    margin: $space_s;
    width: 42px;
  }
  &__addAccount{

    height: 100%;
    color: #fff;
    font-size: 14px;
    display: block;
    border: 1px solid #dbdbdb;
    margin: 5px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 602px;
    background: orange;
    margin-bottom: 50px;

  }
  &__add{
      border: none;
      background: $color-theme;
      color: $color-white;
      border-radius: $space_s;
  }
  &__delete{
      border: none;
      background: $color-delete;
      color: $color-white;
      border-radius: $space_s;
  }
  &__remove{
      border: none;
      background: $color-danger;
      color: $color-white;
      border-radius: $space_s;
  }
  &__menu{
    background-color: $color-theme;
    color: white;
    border-radius: $space_xxl;
    font-size: $font-size_l;
    border: none;
    padding: $space_l $space_xl;
    box-shadow:rgba(0, 0, 0, 0.6) 0px 4px 10px -5px;
  }
  &__top{
    background-color: $color-theme;
    color: white;
    border-radius: $space_xxl;
    font-size: $font-size_l;
    border: none;
    padding: $space_l $space_xxl;
    box-shadow:rgba(0, 0, 0, 0.6) 0px 4px 10px -5px;
    @include mqmd(){
      font-size: $font-size_xxl;
      padding: $space_xl $space_3l;
      border-radius: $space_3l;
    }
  }
  &__return{
    border: none;
    background: $color-delete;
    color: $color-white;
    border-radius: $space_m;
    width: 70px;
    height: 40px;
    margin: 5px;
  }
  &__submit{
    border: none;
    background: $color-theme;
    color: $color-white;
    border-radius: $space_m;
  }
}
