.p-addAccount{
    border: 1px solid $color-border;
    margin: $space_s auto;
    padding: $space_s;
    border-radius: $space_m;
    text-align: center;
    max-width: 602px;//TODO
    background: $color-theme;
    height: 50px;
}
