.p-message{
  background: #83BAD6;
  position: fixed;
  top: 50px;
  width: 100%;
  min-height: 30px;
  color: $color-white;
  text-align: center;
  opacity: 0.95;
  z-index: 1;
  padding: 10px 0 10px 0;
  &__icon{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 15px;
  }

  //&__text{
  //  padding: 10px;
  //}
}
