.p-nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__login{
      position: absolute;
      right: 50px;
      color: $color-theme;
      border: 1px solid $color-theme;
      border-radius: 20px;
      padding: 5px 10px;
      background-color: rgba($color-border, 0.2);
    }
    &__title{
        font-size: $font-size_m;
        //color: deepskyblue;
        font-family: "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
        &--mypage{
            font-family: $font-title;
            font-size: $font-size_xxl;
        }
    }
}
