.p-pass{
    text-align: center;
    form{
        margin-top: 20px;
        @include mqmd(){
            margin-top: 20px;
        }
    }
    &__pass{
        padding: 11.5px;
    }
    &__rePass{
        padding: 11.5px;
    }
    &__button{
        margin: 20px;
        padding: 11.5px;
    }
}
