.l-footer{
  width: 100%;
  height: $header_height;
  bottom: 0;
  background: $color-white;
  border-bottom: 1px solid $color-border;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  @include mqmd(){
      //
  }
  &__top{
    position: initial;
    background: $color-default;
    border: none;
    color: $color-white;

  }
}
