.l-header{
  width: 100%;
  position: fixed;
  height: $header_height;
  top: 0;
  background: $color-white;
  border-bottom: 1px solid $color-border;
  z-index: 1;


    &__top{
        background: none;
        border-bottom: none;
    }
}
